[submodule "thirdparty/bgfx.cmake/bx"]
	path = thirdparty/bgfx.cmake/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "thirdparty/bgfx.cmake/bimg"]
	path = thirdparty/bgfx.cmake/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "thirdparty/bgfx.cmake/bgfx"]
	path = thirdparty/bgfx.cmake/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
